<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | Alicia JW Takaoka</title>

  <link rel="stylesheet"
       
<body>

<nav class="site-nav">


<a href="/">Home</a>
<a href="/">About</a>
<a href="/">Education</a>
<a href="/">Research</a>
<a href="/">Service</a>
<a href="/">Consulting</a>
<a href="/">Media</a>
<a href="/">Contact</a>
</nav>
  
<div class="wrapper">

  {{ content }}

</div>

</body>
</html>
