<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1">

<title>{{ page.title }}</title>

<link rel="stylesheet"
      href="/">

</head>

<body>

<nav class="site-nav">

<a href="/index.md">Home"</a>
<a href="/about.md">About</a>
<a href="/education.md">Education</a>
<a href="/research.md">Research</a>
<a href="/service.md">Service</a>
<a href="/consulting.md">Consultingng</a>
<a href="/media.md">Media</a>
<a href="/contact/">Contact</a>

</nav>

<div class="wrapper">

<h1>LAYOUT TEST</h1>

{{ content }}

</div>

</body>

</html>
